{% extends "base.html" %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
  <div class="card my-3">
    <div class="card-header">
      <h5 class="card-title">{{ topic.name }}</h5>
      <p class="card-text">{{ topic.description }}</p>
    </div>

    <div class="list-group">
    {% for discussion in topic.discussions.all %}
      <div class="list-group-item list-group-item-action border border-0 {% if forloop.first %}{% else %}border-top{% endif %}">
        <h5><a href="{% url 'content:discussion_detail' pk=discussion.pk %}" class="text-decoration-none text-dark">{{ discussion.title }}</a></h5>
        <p class="mb-1"><small>by <a href="{% url 'content:user_detail' pk=discussion.author.pk %}" class="text-decoration-none">{{ discussion.author.username }}</a> on {{ discussion.created_at }}</small></p>
        <p class="mb-0">{{ discussion.text|truncatechars:100 }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}