{% extends "base.html" %}

{% block title %}/u/{{ user.username }} discussions{% endblock %}

{% block content %}
  <div class="card my-3">
    <div class="card-header">
      <h5 class="card-title"><a href="{% url 'content:user_detail' pk=user.pk %}" class="text-decoration-none text-dark">/u/{{ user.username }}</a> discussions</h5>
    </div>

    <div class="list-group">
    {% for discussion in page_obj %}
      <div class="list-group-item list-group-item-action border border-0 {% if forloop.first %}{% else %}border-top{% endif %}">
        <h5><a href="{% url 'content:discussion_detail' pk=discussion.pk %}" class="text-decoration-none text-dark">{{ discussion.title }}</a></h5>
        <p class="mb-1"><small>on {{ discussion.created_at }}</small></p>
        <p class="mb-0">{{ discussion.text|truncatechars:100 }}</p>
      </div>
    {% empty %}
      <div class="list-group-item list-group-item-action border border-0">
        <h5>/u/{{ user.username }} has not created any discussions.</h5>
      </div>
    {% endfor %}
    </div>

    <div class="card-footer">
      <span>
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
{% endblock %}